*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
header{
    text-align: center;
}
body{
    padding: 10px;
    width: 480px;
    height: fit-content;
}

b,
h1{
    color: blue;
}
div,
fieldset{
   margin: 5px;
}

button{
    color: white;
    background-color: blue;
    margin: 10px;
    border: 1px;
    border-radius: 5px;
    padding: 5px;
    font-size:large;
}

.form-item{
    display: grid;  
    align-items: center;
}
.column1{
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    margin: 2px;
}
.column2{
    grid-template-columns: 1fr;
    margin: 2px;
}
.bodydiv{
    background-color: lightgray;
    border: 1px solid black;
}
.inputlabel{
    margin-left: 3px;
    padding: 2px;
}
