@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* A pre defined style set */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{

    --primary-color:#0f0a0a;
    --secondary-color:#f5efed;
    --accent1-color: #2292a4;
    --accent2-color: #bdbf09;
    
    --heading-font: Roboto, serif;
    --paragraph-font: Ubuntu Sans Mono, serif;

    --nav-background-color: #222;
    --nav-link-color: #f8f8ff;
    --nav-hover-link-color:#ea4f4c;
    --nav-hover-background-color: #f5f5dc;


    --paragraph-color:black;
}
body {
    font-family: var(--paragraph-font);
    font-size:small;
    max-width: 800px;
    padding: 20px;
    color: var(--primary-color);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px; */
    /* background-color: var(--accent1-color); */
    /* border: #0f0a0a solid 1px; */
    
}
header nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display:inline-flex;
    margin-left: 25px;
    width:fit-content; 
    border: 1px solid;
    border-color:black;
 
}
header nav a{
    color: var(--nav-hover-link-color);
    border: 1px solid;
    border-color:#f5efed;
    text-decoration: none;
    padding: 1rem;
}
header nav a:link, nav a:visited{
    color: var(--nav-link-color);
}

header nav a:hover{
    display: block;
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
header img{
    width: 80px;
}
main div{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
}
main div h1{
    display: block;
    position:absolute;
    top: 15px;
    color:var(--primary-color);
}
main div article{
    position: absolute;
    top: 50px;
    background-color:cornflowerblue;
    margin: 30px;
}

main div article p{
    margin:20px
}

main section h2{
    padding-top: 10px;
    padding-bottom: 10px;
    color: goldenrod;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}
img.special{
    position: relative;
    margin: 20px;
    float: right;
    width: 80px;
}

.rafting-images img{
    width: 300px;
}

footer nav img{
    width: 30px;
}

p{
    color: var(--paragraph-color);
}