@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* A pre defined style set */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{

    --primary-color:#0f0a0a;
    --secondary-color:#f5efed;
    --accent1-color: #194046;
    --accent2-color: #bdbf09;
    
    --heading-font: Roboto, serif;
    --heading-color:black;  
    --secondary-heading-color:rgb(2, 2, 97);

    --paragraph-font: "Epilogue", sans-serif;
    --paragraph-color:black;

    --nav-background-color: #222;
    --nav-link-color: #f8f8ff;
    --nav-hover-link-color:#ea4f4c;
    --nav-hover-background-color: #ffffff;

    --special-article-background-color: cadetblue;
    --general-background-color:white;

} 

body {
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    width: 100%;
    color: var(--primary-color);
}

main{
    background-color: var(--general-background-color);
    border: 1px ridge;
}  

h1, h2, h3, h4, h5, h6 {
    /* Styling headings */
    /* Defining font and color that will be used for <h> tags */
    font-family: var(--heading-font);
    color: var(--heading-color);
}

figcaption{
    /* Styling figcaption */
    /* Defining font and font size hat will be used for <h> tags */
    font-family: var(--heading-font);
    font-size: smaller;
}


/* Special style class adressing only images inside the <article> tag */
img.special{
    position: relative;
    margin: 20px;
    float: right;
    width: 80px;
    border:  3px;
}


.m_d_h1{
    position:absolute;
    top: 35px;
    color: white;
    left: 50%;
    transform: translate(-50%, -50%);
}
.m_d_h2{
    position:absolute;
    top: 60px;
    color: white;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 300%;
}

main div article{
    position: absolute;
    top: 5vh;
    background-color: var(--accent1-color);
    margin: 30px;
}

main div article p{
    color:antiquewhite;
    margin:20px
}

main section div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;   
    background-color: rgb(254, 254, 253);
}

main section h2{
    padding-top: 10px;
    padding-bottom: 10px;
    color:var(--secondary-heading-color);
}


/* This section formats the Header.*/
.t_hd{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center; 
    /* padding-left: 10px; */
}
/* Formating navigation component */
.comp_nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display:flex;
    width:auto; 
    border: 2px solid;
    grid-column: 5;

}

/* Formating navigation link */
.comp_nav_a{
    color: var(--nav-hover-link-color);
    border: 1px solid;
    text-decoration: none;
    padding: 1rem;
}

/* Fixing the link color, so it doesn't change 
if the link is clicked. */
.comp_nav nav a:link, nav a:visited{
    color: var(--nav-link-color);
}

/* This style will make the element change color 
when the mouse pointer passes over it */
.comp_nav a:hover{
    display: block;
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
.t_hd img{
    width: 100px;
}
/* End of header formatting section. */

/* Common alignment styling */
.c1{
    text-align: center;
}

/* Start of the section that formats the form. */

/* Styling contact us form */
.contactus{
    margin:20px;
    width: auto;
    padding: 5px;
    border: 2px solid;
    border-radius: 5px;
    background-color:ivory;
    display: grid;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100%;
    padding: 5px;
    margin: 0;
}

.fclient{
    padding-top: 30px;
    padding-bottom: 30px;
}
.fclient>h3{
    text-align: center;
}

fieldset{
    display: grid;
    grid-gap: 3px;
    padding: 3px;
    border: 1px solid;
    margin-bottom: 5px;
}


legend{
    padding: 2px;
    color: blue;
    font-size: larger;
    font-weight: bold;
}
label{
    text-align: left;
    padding-right: 5px;
}

button{
    width: 120px;
    background-color:aliceblue;
}

button:hover{
    background-color: cadetblue;
}

input, 
select,
textarea{
    padding: 5px;
    font-size: large;
} 



/* End of the section that formats the form. */

/* Styling heading element of contact section */
.headgriditem{
    border-radius: 10px;
    grid-row: 1/3;
    grid-column: 2/8;
    background-color:lightgray;
}

/* Styling phone 1 section */
.phonemessage{
    border-radius: 10px;
    grid-row: 4;
    grid-column: 2/5;
    background-color:wheat; 
}
.phonemessage>div{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    font-size:small;
}
.phonemessage>div>img{
    float: left;
    width: 40px;
    align-items: center;
    padding: 10px;
}


.specialdiv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    gap: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid;
}


/* Start styling the History section of the About.html page */

#header1{
    padding-top: 10px;
    padding-left: 55px;
    grid-column-start: 3;
    grid-column-end: 4;
}
#paragraph1{
    padding: 10px;
    grid-column-start:1;
    grid-column-end: 3;
}

#paragraph2{
    padding: 10px;
    grid-column-start:4;
    grid-column-end: 6;
}

#image1{
    width: 190px;
    grid-column-start:3;
    grid-row-start: 2;
    padding: 10px;
}
/* End of styling the History section */

/* This section formats the footer. */

footer nav img{
    width: 30px;
}

.base{
    display: flex;
    margin-top: 2px;
    padding-top: 3px;
    align-items: center;
    justify-content:space-between;
    text-align: center;
    background-color: var(--secondary-color);
    height: 40px;
    border: 2px ridge;
}

.paragraph-base{
    font-family: var(--heading-font);
    margin-left: 210px;
}

.base-nav{
    margin-top: 2px;
    padding: 5px;
}


.rafting-images h2{
    color: wheat;
    text-align: center;
    background-color: var(--accent1-color);  
    
}

.rafting-images div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--accent1-color);
    padding-bottom: 7px;
}

.rafting-images img{
    width: 120px;  
}

.rafting-images figure figcaption{
    color: wheat;
    text-align: center;
}


/* Week 05 Styling */

/* Common Styling */


/* Styling first div element */
.part1{
    display: flex;
    position: relative;
    align-self:center ;
    justify-content:space-between;
    border: 1px ridge wheat;
}
.part2{
    padding: 1px;
    width:100%;
}
.alternativegrid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 40px 40px 30px;
}

.alternativegrid>p,h2, h3{
    text-align: left;
}

/* Styling Email area */
.emailcontact{
    border-radius: 10px;
    grid-row: 4;
    grid-column: 5/8;
    background-color:wheat;  
    padding-bottom: 5px;
}

/* Styling Address and map area  */

.adressmap{
    grid-column: 3/4;
    grid-row: 10;
}
.adressmap>p{
    font-size: small;
}

.map{
    grid-row: 10;
    grid-column: 6/7;
}
.map>iframe{
    border: 1px solid;
    width: 370px;
    height: 250px; 
}

/* Styling employee area*/

.employeegrid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    gap: 10px;
    padding-bottom: 15px;
}

.employeegrid>h3{
    grid-row: 2;
    grid-column: 1/4;
    text-align: center;
}
.employeegrid>figure{
    grid-row: 3;
}

.employeegrid>figure>img{
    grid-row: 3;
    width: 200px;
}

.employeegrid>figure>figcaption{
    font-size: 12px;
}
.p1{
    text-align: center;
}



/* Styling Trips page */
.first_element{
    display: grid;
    place-items:center;
    
}
.box{
    margin-top: 15px;
    max-width:510px;
    height:fit-content;
    padding: 5px;
    text-align: center;

}
.box>form>button{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 250px;
    height: 25px;
}

.second_element{
    margin: 25px;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
}
.sec_elem_img{
    grid-row: 1;
    max-width: 410px;
    width: 100%;
    height: 95%;
    border: 5px ridge black;
}
.offer_text{
    padding-left: 14%;
    padding-right: 14%;
    padding-bottom: 20px;
    text-align: justify;
    font-size:small;
}

table{
    border-collapse: collapse;
    text-align: center;
}
tbody > tr:nth-of-type(even) {
    color: white;
    background-color: rgb(79, 113, 247);
}

tbody tr td{
    border: 1px solid black;
    padding: 5px;
}
tbody tr td:nth-of-type(2){
    text-align: justify;
}

thead tr th{
    background-color:#f6fff3;
    border: 1px solid black;
    padding: 10px;
}
thead tr th:nth-of-type(1) {
    width: 145px;
}
thead tr th:nth-of-type(4) {
    width: 130px;
}

.interspace{
    width: auto;
    height:50px;
    background-color: var(--accent1-color);
}
.interspace h2{
    padding-top: 10px;
    text-align: center;
    color: white;
}

.indximage{
    width:100vw;
    border: 2px solid red;
}

.f_act{
    display: flex;
    justify-content: space-between;
    border: 1px ridge wheat;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
}
.f_act form{
    padding-left: 10px;
    padding-top: 10px;
    width: 380px;
}
.f_act button{
    margin-top:10px;
    margin-bottom: 8px;
    height: 25px;
}
.f_act legend{
    color: #0f0a0a;
}

.contact{
    padding-top: 10px;
    padding-right: 10px;
    display: flex;
    font-size: 16px;
    flex-direction: column;
    text-align: center;
}
.contact p{
    font-size: larger;
}

.contact img{
    width: 240px;
    height: 150px;
}


.purposesect{
    border: 1px ridge wheat;
    /* padding:20px; */
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    padding-bottom: 5px;

}
.purposesect div:nth-of-type(1)  {
    grid-row: 1;
    grid-column: 1/4;
    text-align: justify; 
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10px; 
}
.purposesect div:nth-of-type(2)  {
    grid-row: 2;
    grid-column: 1/4;
}

.f_alig{
    display: flex;
    justify-content:space-around;
    align-items:center;
}
.f_alig img{
    border: 4px outset wheat;
    border-radius: 5px;
    width: 89%;
}