@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');
/* A pre defined style set */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{

    --primary-color:#0f0a0a;
    --secondary-color:#f5efed;
    --accent1-color: #2292a4;
    --accent2-color: #bdbf09;
    
    --heading-font: Roboto, serif;
    --heading-color:black;  
    --secondary-heading-color:#DAA520;

    --paragraph-font: "Patrick Hand SC", cursive;
    --paragraph-color:black;

    --nav-background-color: #222;
    --nav-link-color: #f8f8ff;
    --nav-hover-link-color:#ea4f4c;
    --nav-hover-background-color: #f5f5dc;

    --special-article-background-color: rgb(205, 229, 199);

}

h1, h2, h3, h4, h5, h6 {
    /* Styling headings */
    /* Defining font and color that will be used for <h> tags */
    font-family: var(--heading-font);
    color: var(--heading-color);
}
p{
    /* Styling paragraphs */
     /* Defining font and color that will be used for <p> tags */
    font-family:  var(--paragraph-font);
    color: var(--paragraph-color);
}
figcaption{
    /* Styling figcaption */
    /* Defining font and font size hat will be used for <h> tags */
    font-family: var(--heading-font);
    font-size: smaller;
}

body {
    max-width: 800px;
    padding: 20px;
    color: var(--primary-color);
}

/* Styling div element */
main div{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
}
/* Styling class hero */
.hero img{
    display: block;
    width: 100%;
    height: auto;
}
/* Special style class adressing only images inside the <article> tag */
img.special{
    position: relative;
    margin: 20px;
    float: right;
    width: 80px;
}


main div h1{
    /* Positioning the h1 element inside the <div> element */
    display: block;
    position:absolute;
    top: 15px;
}
main div article{
    position: absolute;
    top: 50px;
    background-color:var(--special-article-background-color);
    margin: 30px;
}

main div article p{
    margin:20px
}

main section h2{
    padding-top: 10px;
    padding-bottom: 10px;
    color:var(--secondary-heading-color);
}


.rafting-images img{
    width: 300px;
}

footer nav img{
    width: 30px;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center; 
}
header nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display:inline-flex;
    margin-left: 25px;
    width:fit-content; 
    border: 1px solid;
    border-color:black;
 
}
header nav a{
    color: var(--nav-hover-link-color);
    border: 1px solid;
    border-color:#f5efed;
    text-decoration: none;
    padding: 1rem;
}
header nav a:link, nav a:visited{
    color: var(--nav-link-color);
}

header nav a:hover{
    display: block;
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
header img{
    width: 120px;
}