@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    /* Universal selector
       Setting margin to 0
       Setting padding to 0
       Setting box-sizing to border-box
    */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    display:flex;
    background-color: steelblue;
    padding: 10px;
    align-items: center;
    justify-content:space-around;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {    
    color: steelblue;
    border-bottom: 2px solid  steelblue;
}
main{
    grid-column: 2/3;
}
main img {
    position: relative;
    top: 15px;
    width: 120px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    margin-left: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 30px gray;
    float:right;
}
p {
    padding: 0;
    margin: 1rem;
}

body{
    max-width: 840px;
    font-size: medium;
    font-family: Roboto, serif;
}

aside {
    width: 20em;
    text-align: center;
    align-items: center;
    background-color: #eee;
    color: #333;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img{
    
    width: 200px;
    height: auto;
}

aside h2{
    position: absolute;
    top: 20px;
    left: 130px;
}


p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}


/* Class Selectors */

.box {
    margin-top: 2rem;
    margin-left: 1rem;
    border: 1px solid rgba(1, 1, 53, 0.1);
    padding: 1rem;
    color: black;
    background-color: aliceblue;
}
.box-ul{
    padding-left: 2rem;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}