@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    /* Universal selector
       Setting margin to 0
       Setting padding to 0
       Setting box-sizing to border-box
    */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    /* CSS flex is used to horizontally layout the nav element links. */
    display:flex;
     /*_____________________________________________________________________ */
    padding: 10px;
    align-items: center;
    justify-content:space-evenly;
    background-color: rgb(3, 35, 62);
}
nav a {
    /* The nav anchor tags are styled with padding and no text-decoration. */
    padding: 20px;
    text-decoration: none;
    /*_____________________________________________________________________ */
    color: white;
    background-color: rgb(3, 35, 62);
    display: block;
}
h1 {    
    color: steelblue;
    /* A bottom border is applied to the h1 element. ______________________*/
    border-bottom: 2px solid  steelblue;
    /*_____________________________________________________________________ */
}
p {
    padding: 0;
    margin: 1rem;
}

body{
    max-width: 840px;
    font-size:small;
    font-family: Roboto, serif;
}
main{
    /* The div.grid is a CSS Grid and displays the aside and main elements
     side by side with the main on the right and the aside on the left. */
    grid-column: 2/3; /*Main on the righ*/
    /* margin: 10px; */
}
main img {
    position: relative;
    top: 15px;
    width: 120px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    margin-left: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 30px gray;
    float:right;
}
main p{
    text-align: justify;
}

aside {
    /* The div.grid is a CSS Grid and displays the aside and main elements
     side by side with the main on the right and the aside on the left. */
    width: 20rem;
    text-align: center;
    align-items: center;
    background-color: #eee;
    color: #333;
    position: relative;
    grid-column: 1/2; /*Aside on the left*/
    grid-row: 1/2;
}

aside img{
    width: 250px;
    height: auto;
}

aside h2{
    position: absolute;
    top: 20px;
    left: 135px;
}


aside p {
    text-align: justify;
    width: 250px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
    justify-content: center;
}


/* Class Selectors */

.box {
    margin-top: 5px;
    margin-left: 1rem;
    border: 1px solid rgba(1, 1, 53, 0.1);
    padding: 1rem;
    color: black;
    background-color: aliceblue;
}
.box-ul{
    padding-left: 2rem;
}



.grid{
    /* The div.grid is a CSS Grid and displays the aside and main elements side by side
     with the main on the right and the aside on the left. */
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 10px;
}