.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
    border: 1px solid black;
  }
  
  #subgrid {
    grid-column: 1 / 4;
    grid-row: 2 / 4;
    display: grid;
    gap: inherit;
    grid-template-columns: subgrid;
    grid-template-rows: 2fr 1fr;
    border: 1px solid black;
  }
  